/* || Typography */

body {
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    font-weight: 400;
    background: url(../images/bg-mobile.svg) center top / 100% auto no-repeat, 
    hsl(257, 40%, 49%);
}

.section-intro .wrapper-desc h2 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.section-intro .wrapper-desc > p {
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 95%;
    font-family: 'Open Sans', sans-serif;
}

.section-intro .wrapper-desc > a {
    font-size: 0.75rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* || Layout */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

footer {
    flex: 0;
}

.header-content,
.section-content,
.footer-content {
    width: 78.67%;
    margin: 0 auto;
}

/* || Header */

header .wrapper-logo {
    margin: 3.7em 0 6.5em;
}
header .wrapper-logo img {
    width: 12em;
}

/* || Section intro */

.section-intro .wrapper-img img {
    width: 100%;
}

.section-intro .wrapper-desc h2 {
    margin: 2.8em 0 1em;
}

.section-intro .wrapper-desc > a {
    display: block;
    width: 16.67em;
    line-height: 3.3;
    background-color: white;
    outline: none;
    text-decoration: none;
    border-radius: 45px;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 6px 5px rgb(0 0 0 / 15%);
    margin: 2.5em auto 2em;
}

.section-intro .wrapper-desc > a:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    opacity: 95%;
    transition: background-color 0.2s, color 0.2s, 
    opacity 0.2s;
}

/* || Footer */

footer .wrapper-share {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

footer .wrapper-share svg {
    width: 3em;
    height: 3em;
    fill: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.7em;
    margin-right: 1em;
}

footer .wrapper-share svg:hover {
    cursor: pointer;
    fill: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    transition: all 0.2s;
}

footer .wrapper-share svg:last-child {
    margin-right: initial;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(300, 69%, 71%);
}

@media screen and (min-width: 48.0625em) {
    
    /* || Typography */

    body {
        background: url(../images/bg-desktop.svg) center top / 100% auto no-repeat, 
        hsl(257, 40%, 49%);
    }

    .section-intro .wrapper-desc h2 {
        text-align: left;
        margin: 1em 0 0.75rem;
    }

    .section-intro .wrapper-desc > p {
        text-align: left;
    }

    /* || Layout */

    .header-content,
    .section-content,
    .footer-content {
        width: 88.9%;
    }

    /* || Section intro */

    .section-intro .section-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    .section-intro .section-content .wrapper-img {
        flex: 0 1 54.69%;
    }

    .section-intro .section-content .wrapper-desc {
        flex: 0 1 41%;
    }

    .section-intro .wrapper-desc > a {
        margin: 1.25em 0 0;
        width: 10em;
    }

    /* || Footer */

    footer .wrapper-share {
        justify-content: flex-end;
    }
    footer .wrapper-share svg {
        width: 4em;
        height: 4em;
    }
}

@media screen and (min-width: 77.5em) {
    
    /* || Typography */

    .section-intro .wrapper-desc h2 {
        font-size: 2.5rem;
    }
    
    .section-intro .wrapper-desc > a {
        font-size: 1.125rem;
    }

    /* || Section intro */

    .section-intro .wrapper-desc > a {
        line-height: 2.75;
    }
}